@model SMS.Models.ConfigurationSettingsModel

@{
	ViewBag.Title="Configuration Settings";
	Layout="~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-12 mr-4">
	    <section class="setting-form">
	        @using (Html.BeginForm("Settings", "Configuration", FormMethod.Post, new { enctype="multipart/form-data", @class="form-horizontal" }))
	        {
	            @Html.AntiForgeryToken()
	            <div class="row">
	                <div id="admin-page-header" class="col-xs-12 col-md-12">
	                    <h3 class="section-heading mr-auto">CONFIGURATION SETTINGS</h3>
	                    <input type="submit" value="Save Settings" class="btn btn-primary mr-auto" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-12">
	                    @Html.ValidationSummary(true, "", new { @class="text-danger" })
	                </div>
	            </div>
	            <hr />
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.EditorFor(model => model.ItemsPerPage, new { htmlAttributes=new { @class="form-control", @type="text", @tabindex="1", @min="1", @onkeypress="return checkNumber(event);", @maxlength="3" } })
	                        @Html.LabelFor(model => model.ItemsPerPage, "Items Per Page :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.ItemsPerPage, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.PagerLocation, Model.AvailableLocations, new { @class="mdb-select colorful-select dropdown-primary", @tabindex="2" })
	                        @Html.LabelFor(model => model.PagerLocation, "Pager Location :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.PagerLocation, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.SelectedEmailTemplateForForgotPassword, Model.AvailableTemplates,"Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="3" })
	                        @Html.LabelFor(model => model.SelectedEmailTemplateForForgotPassword, "Forgot Password Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.SelectedEmailTemplateForForgotPassword, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.SelectedVisitorQueryTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="4" })
	                        @Html.LabelFor(model => model.SelectedVisitorQueryTemplate, "Visitor Query Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.SelectedVisitorQueryTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.CommentOnEventTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="5" })
	                        @Html.LabelFor(model => model.CommentOnEventTemplate, "Comment On Event Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.CommentOnEventTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.CommentOnProductTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="6" })
	                        @Html.LabelFor(model => model.CommentOnProductTemplate, "Comment On Product Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.CommentOnProductTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.NewUserRegisterTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="7" })
	                        @Html.LabelFor(model => model.NewUserRegisterTemplate, "New User Register Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.NewUserRegisterTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.ProductAddedTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="8" })
	                        @Html.LabelFor(model => model.ProductAddedTemplate, "Product Added Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.ProductAddedTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.ReplyOnCommentTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="9" })
	                        @Html.LabelFor(model => model.ReplyOnCommentTemplate, "Reply On Comment Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.ReplyOnCommentTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.RequestQuoteTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="10" })
	                        @Html.LabelFor(model => model.RequestQuoteTemplate, "Request Quote Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.RequestQuoteTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.UserSignInAttemptTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="11" })
	                        @Html.LabelFor(model => model.UserSignInAttemptTemplate, "User Signed In Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.UserSignInAttemptTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	            <div class="row text-left">
	                <div class="col-xs-12 col-md-4 mb-4">
	                    <div class="md-form">
	                        @Html.DropDownListFor(model => model.SelectedCommentOnBlogTemplate, Model.AvailableTemplates, "Select", new { @class="mdb-select colorful-select dropdown-primary", @tabindex="11" })
	                        @Html.LabelFor(model => model.SelectedCommentOnBlogTemplate, "Comment On Blog Template :", new { @class="control-label" })
	                        @Html.ValidationMessageFor(model => model.SelectedCommentOnBlogTemplate, "", new { @class="text-danger" })
	                    </div>
	                </div>
	            </div>
	        }
	    </section>
	    <script type="text/javascript">
    	    $(document).ready(function() {
	            $("li.nav-item").removeClass("active");
	            $("span.nav-title:contains('Settings')").closest("li").addClass("active");
    	    });
    	</script>
	</div>
</div>
