@model SMS.Areas.Admin.Models.LeftSideBarModel
@using EF.Services.Service;
@using EF.Core;
@using EF.Core.Data;
@using EF.Services.Context;
@{
    var _UserContext = EF.Core.ContextHelper.Current.Resolve<IUserContext>();
    var _permissionService = EF.Core.ContextHelper.Current.Resolve<IPermissionService>();
}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("Root")">
            <span class="nav-icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="nav-title"> Home</span>
        </a>
    </li>
    @if (_permissionService.Authorize("ManageDashboard"))
    {
        <li class="nav-item active">
            <a class="nav-link" aria-expanded="false" href="@Url.Action("Index", "Dashboard", new {Area = "Admin"})">
                <span class="nav-icon">
                    <i class="fa fa-dashboard"></i>
                </span>
                <span class="nav-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageEvents") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon">
                    <i class="fa fa-bitcoin"></i>
                </span>
                <span class="nav-title">
                    Events
                    <span class="nav-tools">
                        <i class="fa fa-fw arrow"></i>
                        <span class="label label-notify">New (1)</span>
                    </span>
                    @if (_permissionService.Authorize("ManageNews"))
                    {
                    <i class="fa fa-angle-down rotate-icon pull=right"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageEvents"))
                {
            <div class="dropdown-container">
                <a class="nav-link" href="@Url.Action("List", "Event", new {Area = "Admin"})">
                    <span class="nav-title">
                        List
                    </span>
                </a>
                <a class="nav-link" href="@Url.Action("Create", "Event", new {Area = "Admin"})">
                    <span class="nav-title">
                        Create
                    </span>
                </a>
            </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageNews") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon">
                    <i class="fa fa-newspaper-o"></i>
                </span>
                <span class="nav-title">
                    News
                    <span class="nav-tools">
                        <i class="fa fa-fw arrow"></i>
                        <span class="label label-notify">New (1)</span>
                    </span>
                    @if (_permissionService.Authorize("ManageNews"))
                    {
                        <i class="fa fa-angle-down rotate-icon pull=right"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageNews"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "News", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                            <span class="nav-tools">
                                <span class="label label-notify">(6)</span>
                            </span>
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "News", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="dropdown-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon">
                    <i class="fa fa-user-secret"></i>
                </span>
                <span class="nav-title">
                    Vendors
                    @if (_permissionService.Authorize("ManageVendors"))
                    {
                        <i class="fa fa-angle-down rotate-icon pull=right"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageVendors"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "Vendor", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "Vendor", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageProducts") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-product-hunt"></i> </span>
                <span class="nav-title">
                    Products
                    <span class="nav-tools">
                        <i class="fa fa-fw arrow"></i>
                        <span class="label label-notify">New (1)</span>
                    </span>
                    @if (_permissionService.Authorize("ManageProducts"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageProducts"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "Product", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                            <span class="nav-tools">
                                <span class="label label-notify">(6)</span>
                            </span>
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "Product", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageStudents") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-user-circle-o"></i> </span>
                <span class="nav-title">
                    Students
                    @if (_permissionService.Authorize("ManageStudents"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageStudents"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "Student", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "Student", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageEmployeeAttendance") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-folder-open-o"></i> </span>
                <span class="nav-title">
                    Attendance
                    @if (_permissionService.Authorize("ManageEmployeeAttendance"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageEmployeeAttendance"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("EmployeeAttendanceList", "Attendance", new {Area = "Admin"})">
                        <span class="nav-title">
                            Employee Attendance
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("CreateEmployeeAttendance", "Attendance", new {Area = "Admin"})">
                        <span class="nav-title">
                            Add Employee Attendance
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageDataTokens") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-paperclip"></i> </span>
                <span class="nav-title">
                    Data Tokens
                    @if (_permissionService.Authorize("ManageDataTokens"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageDataTokens"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "DataToken", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "DataToken", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageTemplates") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-object-group"></i> </span>
                <span class="nav-title">
                    Templates
                    @if (_permissionService.Authorize("ManageTemplates"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageTemplates"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("TemplateList", "Template", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "Template", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageCustomPages") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-magic"></i> </span>
                <span class="nav-title">
                    Custom Pages
                    @if (_permissionService.Authorize("ManageCustomPages"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageCustomPages"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "CustomPage", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "CustomPage", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageRoles") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-suitcase"></i> </span>
                <span class="nav-title">
                    Roles
                    @if (_permissionService.Authorize("ManageRoles"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageRoles"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "Role", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "Role", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManagePermissions") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-user-times"></i> </span>
                <span class="nav-title">
                    Permissions
                    @if (_permissionService.Authorize("ManagePermissions"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManagePermissions"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("PermissionsList", "Permission", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "Permission", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageUsers") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-user-plus"></i> </span>
                <span class="nav-title">
                    Users
                    @if (_permissionService.Authorize("ManageUsers"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageUsers"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "User", new {Area = "Admin"})">
                        <span class="nav-title">
                            List
                        </span>
                    </a>
                    <a class="nav-link" href="@Url.Action("Create", "User", new {Area = "Admin"})">
                        <span class="nav-title">
                            Create
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageAudits") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-area-chart"></i> </span>
                <span class="nav-title">
                    Audit Log
                    @if (_permissionService.Authorize("ManageAudits"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageAudits"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "Audit", new {Area = "Admin"})">
                        <span class="nav-title">
                            Audit Log
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageLogs") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-bar-chart-o"></i> </span>
                <span class="nav-title">
                    System Log
                    @if (_permissionService.Authorize("ManageLogs"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageLogs"))
            {
                <div class="dropdown-container">
                    <a class="nav-link" href="@Url.Action("List", "Log", new {Area = "Admin"})">
                        <span class="nav-title">
                            System Log
                        </span>
                    </a>
                </div>
            }
        </li>
        <li class="nav-item">
            <a class="dropdown-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon"><i class="fa fa-commenting"></i> </span>
                <span class="nav-title">
                    Feedbacks
                    <i class="fa fa-angle-down rotate-icon"></i>
                </span>
            </a>
            <div class="dropdown-container">
                <a class="nav-link" href="@Url.Action("List", "Feedback", new {Area = "Admin"})">
                    <span class="nav-title">
                        List
                    </span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="@(_permissionService.Authorize("ManageSettings") ? "dropdown-btn" : "")" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-icon">
                    <i class="fa fa-wrench"></i>
                </span>
                <span class="nav-title">
                    Settings
                    @if (_permissionService.Authorize("ManageSettings"))
                    {
                        <i class="fa fa-angle-down rotate-icon"></i>
                    }
                </span>
            </a>
            @if (_permissionService.Authorize("ManageSettings"))
            {
                <div class="dropdown-container">
                    @Html.Partial("~/Areas/Admin/Views/Common/AdminSettingsMenu.cshtml", Model.ActiveSettings)
                </div>
            }
        </li>
    }
</ul>
