@model SMS.Models.ForgotPasswordModel
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @id = "forgot-password" }))
{
    @Html.AntiForgeryToken()
    <div class="modal" id="forgotpassword_modal" tabindex="-1" role="dialog" aria-labelledby="modalForgotPassword" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div style="background-color:#fff;" class="modal-content">
                <div class="modal-header">
                    <h3 id="modalForgotPassword">Forgot Password <span class="extra-title muted"></span></h3>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row text-left">
                        <div class="col">
                            <div class="md-form mt-0 mb-4">
                                @Html.EditorFor(model => model.Emailaddress, new { htmlAttributes = new { @class = "form-control", @aria_describedby = "email", @type = "email", @max_length = "100", @tabindex = "1" } })
                                @Html.LabelFor(model => model.Emailaddress, "Email Address", new { htmlAttributes = new { @class = "control-label" } })
                                @Html.ValidationMessageFor(model => model.Emailaddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (Model.Success)
                    {
                        <div class="alert alert-danger">
                            @Html.Raw(Model.Message)
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                        <input type="submit" disabled="disabled" class="btn btn-primary" value="Send Password" id="password_modal_save" />
                    }
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("change", "#name", function () {
                ValidateFields();
            });
        });

        function ValidateFields() {
            var flag = true;
            if ($("#@Html.IdFor(model => model.Emailaddress)").val() == null || $("#@Html.IdFor(model => model.Emailaddress)").val() == "") {
                flag = false;
            }

            if (flag) {
                $("#password_modal_save").attr('disabled', false);
            }
        }
    </script>
}
