@model SMS.Models.LoginModel
@using EF.Core;
@using EF.Services.Http;
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="SMS" />
    <meta name="author" content="Sandeep Kumar" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/home")
    @Styles.Render("~/Content/fo")
    @Styles.Render("~/Content/icons")
    @Styles.Render("~/Content/jqueryuicss")
    @Styles.Render("~/Content/boot")
    @Styles.Render("~/Content/mdb")
    @Styles.Render("~/Content/common")
    @{
        var urlHelperService = EF.Core.ContextHelper.Current.Resolve<IUrlHelper>();
        var basePath = urlHelperService.GetLocation(false);
    }
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
        <script src="~/Scripts/excanvas.min.js"></script>
    <![endif]-->
</head>
<body style="background-color:#4caf50;">
    <div class="container">
        <div class="row">
            <div id="login-form-wrapper" class="col-md-6 offset-md-3 mt-8">
                @using (Html.BeginForm("Login", "Account", new { Area = "" }, FormMethod.Post, new { enctype = "multipart/form-data", @class= "login-form" }))
                {
					<!--Form with header-->
                    <div class="card wow fadeIn" data-wow-delay="0.3s">
                        <div class="card-body">
                            <!--Header-->
                            <div class="form-header green-gradient">
                                <h3><i class="fa fa-user mt-2 mb-2"></i>&nbsp;LOGIN</h3>
                            </div>
                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix green-text"></i>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @tabindex = "1", @Placeholder = "Username" })
                                <label for="orangeForm-email">Your email</label>
                                @Html.ValidationMessageFor(model => model.Email, "Please Enter Email Address", new { @class = "custom-val-error" }, "div")
                            </div>
                            <div class="md-form pb-3">
                                <i class="fa fa-lock prefix green-text"></i>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @tabindex = "2", @Placeholder = "Password", @type = "Password" })
                                <label for="orangeForm-pass">Your password</label>
                                @Html.ValidationMessageFor(model => model.Password, "Please Enter Password", new { @class = "custom-val-error" }, "div")
                                @*<div class="form-check my-4">
                                        @Html.CheckBoxFor(model => model.RememberMe, new { @tabindex = "3", @class = "form-check-input" })
                                        <label for="defaultCheck12" class="green-text">Remember Me</label>
                                    </div>*@
                            </div>
                            <div class="row d-flex align-items-center">
                                <div class="col-md-12 col-md-12 text-center">
                                    <button type="submit" class="btn green-gradient btn-lg waves-effect waves-light">Sign In&nbsp;<i class="fa fa-paper-plane-o ml-2"></i></button>
                                    <hr />
                                </div>
                                <div class="col-md-12 col-md-12 text-center">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-3 col-md-6 text-center">
                                            <a class="p-2 m-2 fa-lg" href="javascript:void(0);" id="fogot-link"><i class="fa fa-key green-text"></i> </a>
                                            <a class="p-2 m-2 fa-lg" href="@Url.Action("Index","Feedback")"><i class="fa fa-phone green-text"></i></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="p-2 m-2 fa-lg tw-ic"><i class="fa fa-twitter green-text"></i></a>
                                            <a class="p-2 m-2 fa-lg li-ic"><i class="fa fa-linkedin green-text"> </i></a>
                                            <a class="p-2 m-2 fa-lg ins-ic"><i class="fa fa-instagram green-text"> </i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="external-authentication text-center">
                                @Html.Action("OtherLogins", "Social")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/boot")
    @Scripts.Render("~/Scripts/mdb")
</body>
</html>
@Html.Partial("_ForgotPassword", Model.ForgotPassword)