@model SMS.Models.RoleModel

@{
	ViewBag.Title = "Create Role";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-12 mr-4">
		<section class="create-form">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
			    <div class="row">
			        <div id="admin-page-header" class="col-xs-12 col-md-12">
			            <h3 class="section-heading mr-auto">CREATE ROLE</h3>
			            <input type="submit" value="Save Role" class="btn btn-primary" />
			        </div>
			    </div>
			    <hr />
				<div class="row">
					<div class="col-md-12">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="row text-left">
					<div class="col-xs-12 col-md-4 mb-4">
						<div class="md-form">
							@Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", @tabindex = "1", @maxlength = "50", @autocomplete = "off" } })
							@Html.LabelFor(model => model.RoleName,"Name", htmlAttributes: new { @class = "control-label" })
							@Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-md-7 mb-4">
						<input type="checkbox" id="IsActive" name="IsActive" value="@(Model.IsActive ? true : false)" @(Model.IsActive ? "checked=checked" : "") />
						@Html.LabelFor(model => model.IsActive,"Active", htmlAttributes: new { @class = "form-check-label", @tabindex = "2" })
						@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
					</div>
				</div>
			}
		</section>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li.nav-item").removeClass("active");
        $("span.nav-title:contains('Roles')").closest("li").addClass("active");

		if ($("#IsActive").val()) {
			$("#IsActive").attr('checked', true).val(true);
		}
		else {
			$("#IsActive").attr('checked', false).val(false);
		}
		$("#IsActive").change(function () {
			if ($(this).prop('checked')) {
				$(this).attr('checked', true).val(true);
			}
			else {
				$(this).attr('checked', false).val(false);
			}
		});
	});
</script>