@model String
@switch (Model)
{
    case "ConfigurationSettings":
        {
            <li>
                <a class="nav-link active" href="@Url.Action("Settings", "Configuration")">
                    <span class="nav-title">Configuration Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("EmailSettings", "Email")">
                    <span class="nav-title">Email Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Picture")">
                    <span class="nav-title">Picture Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "User")">
                    <span class="nav-title">User Settings</span>
                </a>
            </li>
            break;
        }
    case "EmailSettings":
        {
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Configuration")">
                    <span class="nav-title">Configuration Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link active" href="@Url.Action("EmailSettings", "Email")">
                    <span class="nav-title">Email Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Picture")">
                    <span class="nav-title">Picture Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "User")">
                    <span class="nav-title">User Settings</span>
                </a>
            </li>
            break;
        }
    case "PictureSettings":
        {
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Configuration")">
                    <span class="nav-title">Configuration Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("EmailSettings", "Email")">
                    <span class="nav-title">Email Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link active" href="@Url.Action("Settings", "Picture")">
                    <span class="nav-title">Picture Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "User")">
                    <span class="nav-title">User Settings</span>
                </a>
            </li>
            break;
        }
    case "UserSettings":
        {
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Configuration")">
                    <span class="nav-title">Configuration Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("EmailSettings", "Email")">
                    <span class="nav-title">Email Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Picture")">
                    <span class="nav-title">Picture Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link active" href="@Url.Action("Settings", "User")">
                    <span class="nav-title">User Settings</span>
                </a>
            </li>
            break;
        }
    default:
        {
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Configuration")">
                    <span class="nav-title">Configuration Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("EmailSettings", "Email")">
                    <span class="nav-title">Email Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "Picture")">
                    <span class="nav-title">Picture Settings</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Settings", "User")">
                    <span class="nav-title">User Settings</span>
                </a>
            </li>
            break;
        }

}
