@model SMS.Areas.Admin.Models.NotificationModel
@using EF.Core;
@using EF.Services.Http;
@using EF.Services.Service;
@{
	var userService = EF.Core.ContextHelper.Current.Resolve<IUserService>();
	//var userInfoService = EF.Core.ContextHelper.Current.Resolve<IUserInfoService>();
}
<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle icon">
	<i class="fa fa-bell-o fa-2x"></i>
	<span class="label">@Model.NotificationCount</span>
</a>
<ul class="dropdown-menu media-list pull-right animated fadeInDown">
	<li class="dropdown-header">Notifications (@Model.NotificationCount)</li>
	@foreach (var usernotice in Model.Users)
	{
		<li class="media alert-success">
			<a href="/admin/user/list">
				<div class="media-left"><i class="ion-ios-close-empty media-object bg-red"></i></div>
				<div class="media-body">
					<h6 class="media-heading">@usernotice.Username just registered with us.</h6>
					<div class="text-muted f-s-11">@CodeHelper.TimeAgo(usernotice.CreatedOn)</div>
				</div>
			</a>
		</li>
	}
	@foreach (var auditnotice in Model.AuditRequests)
	{
		var _user = !String.IsNullOrEmpty(auditnotice.UserName) ? userService.GetUserByUsername(auditnotice.UserName).UserName : "";
		<li class="media alert-info">
			<a href="/admin/audit/list">
				<div class="media-left"><i class="ion-ios-close-empty media-object bg-red"></i></div>
				<div class="media-body">
					<h6 class="media-heading">@(_user != "" ? _user : "") updated @auditnotice.TypeFullName.Substring(auditnotice.TypeFullName.LastIndexOf('.') + 1)</h6>
					<div class="text-muted f-s-11">@CodeHelper.TimeAgo(auditnotice.EventDateUTC)</div>
				</div>
			</a>
		</li>
	}
	@foreach (var lognotice in Model.SystemLogs)
	{
		<li class="media alert-danger">
			<a href="admin/log/list">
				<div class="media-left"><i class="ion-ios-close-empty media-object bg-red"></i></div>
				<div class="media-body">
					<h6 class="media-heading">@lognotice.Message</h6>
					<div class="text-muted f-s-11">@CodeHelper.TimeAgo(lognotice.Date)</div>
				</div>
			</a>
		</li>
	}
	@*<li class="dropdown-footer text-center">
			<a href="javascript:;">View more</a>
		</li>*@
</ul>
<ul>
    <li>
        <div class="drop-title">Notifications</div>
    </li>
    <li>
        <div class="message-center ps ps--theme_default" data-ps-id="3ab8a624-894a-93f4-7690-10776b8b8d47">
            <!-- Message -->
            <a href="#">
                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                <div class="mail-contnet">
                    <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                </div>
            </a>
            <!-- Message -->
            <a href="#">
                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                <div class="mail-contnet">
                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                </div>
            </a>
            <!-- Message -->
            <a href="#">
                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                <div class="mail-contnet">
                    <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                </div>
            </a>
            <!-- Message -->
            <a href="#">
                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                <div class="mail-contnet">
                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                </div>
            </a>
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
    </li>
    <li>
        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
    </li>
</ul>