@model IEnumerable<SMS.Models.AllotClassRoomsToClass>
@{
    ViewBag.Title = "Allot Class Rooms To Divisions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 mr-4">
        <section class="list-form">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group pull-right">
                            @Html.ActionLink("Create Class", "Create", "Class", null, new { @class = "btn btn-primary" })
                            &nbsp;&nbsp;
                            @Html.ActionLink("Create Division", "Create", "Division", null, new { @class = "btn btn-primary" })
                            &nbsp;&nbsp;
                            @Html.ActionLink("Create Class Room", "Create", "ClassRoom", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="form-group">
                            <table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Class</th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var classrecord in Model)
                                    {
                                        <tr>
                                            <td colspan="3">@classrecord.Class</td>
                                        </tr>
                                        if (classrecord.AvailableDivisions.Count > 0)
                                        {
                                            <tr>
                                                <td colspan="3">
                                                    <table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100%;">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center"></th>
                                                                <th class="text-center">Divisions</th>
                                                                <th class="text-center"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var divisionrecord in classrecord.AvailableDivisions)
                                                            {
                                                                <tr>
                                                                    <td></td>
                                                                    <td>@divisionrecord.Name</td>
                                                                    @if (divisionrecord.AvailableClassRooms.Count > 0)
                                                                    {
                                                                        <td>
                                                                            @Html.DropDownListFor(model => divisionrecord.ClassRoomId, divisionrecord.AvailableClassRooms, "Select Class Room", new { @class = "mdb-select", @tabindex = classrecord.AvailableDivisions.IndexOf(divisionrecord) + 1, @title = "Classroom", @name = ("classroom_" + classrecord.ClassId + "_" + divisionrecord.Id), @id = ("classroom_" + classrecord.ClassId + "_" + divisionrecord.Id), @data_class = classrecord.ClassId.ToString(), @data_division = divisionrecord.Id.ToString() })
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center" colspan="3">
                                            <input type="button" id="update-classrooms" name="submit" value="Submit" />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li.nav-item").removeClass("active");
        $("span.nav-title:contains('ClassRooms')").closest("li").addClass("active");

        $(document).on("click", "button[type=submit]", function (e) {
            if (confirm("Are you sure, you want to update selected division?")) {
                $("form").submit();
            }
        });
    });
</script>