@model IEnumerable<SMS.Models.AllotClassRoomsToClass>
@using EF.Services;
@{
    ViewBag.Title = "Allot Class Rooms To Divisions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Allot Divisions</h3>
    </div>
    <div class="col-md-7 align-self-center">
        @Html.Raw(Html.BuildBreadcrumbNavigation())
    </div>
</div>
<div class="row">
    <div class="col-md-12 mr-4">
        <section class="list-form">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group pull-right">
                            @Html.ActionLink("Create Class", "Create", "Class", null, new { @class = "btn btn-primary" })
                            &nbsp;&nbsp;
                            @Html.ActionLink("Create Division", "Create", "Division", null, new { @class = "btn btn-primary" })
                            &nbsp;&nbsp;
                            @Html.ActionLink("Create Class Room", "Create", "ClassRoom", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="form-group">
                            @if (Model.ToList().Count > 0)
                            {
                                <table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100%;vertical-align:bottom;">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Class</th>
                                            <th class="text-left"></th>
                                            <th class="text-left"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var classrecord in Model)
                                        {
                                            <tr>
                                                <td colspan="3">@classrecord.Class</td>
                                            </tr>
                                            if (classrecord.AvailableDivisions.Count > 0)
                                            {
                                                <tr>
                                                    <td colspan="3">
                                                        <table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100%;vertical-align:bottom;">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-left"></th>
                                                                    <th class="text-center">Divisions</th>
                                                                    <th class="text-left"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var divisionrecord in classrecord.AvailableDivisions)
                                                                {
                                                                    <tr>
                                                                        <td></td>
                                                                        <td class="text-center">
                                                                            <div class="md-form">
                                                                                @divisionrecord.Name
                                                                            </div>
                                                                        </td>
                                                                        @if (divisionrecord.AvailableClassRooms.Count > 0)
                                                                        {
                                                                            <td>
                                                                                <select class="mdb-select" data-class="@(classrecord.ClassId)" data-division="@(divisionrecord.Id)" data-val="true" id="classroom_@(classrecord.ClassId)_@(divisionrecord.Id)" name="classroom_@(classrecord.ClassId)_@(divisionrecord.Id)" tabindex="1" title="Classroom">
                                                                                    <option @(!divisionrecord.AvailableClassRooms.Any(x => x.Selected) ? "selected=selected" : "") value="">Select Class Room</option>
                                                                                    @foreach (var optionrecord in divisionrecord.AvailableClassRooms)
                                                                                    {
                                                                                        <option @(optionrecord.Selected ? "selected=selected" : "") value="@(optionrecord.Value)">@(optionrecord.Text)</option>
                                                                                    }
                                                                                </select>
                                                                            </td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-center" colspan="3">
                                                <input type="submit" id="update-classrooms" class="btn btn-info" name="submit" value="Submit" />
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li#classrooms ul").css("height", "");
        $(document).on("change", "select", function (e) {
            var selectedValue = $(this).val();
            if ($("select option[value='" + selectedValue + "']:selected").length > 1) {
                setTimeout(function () {
                    $.gritter.add({
                        title: "Alert",
                        text: "Please select unique class rooms for each division!",
                        sticky: !0,
                        time: "",
                        class_name: "my-sticky-class"
                    });
                }, 1e3);
                $("input[type=submit]").attr("disabled", true);
            }
            else {
                $("input[type=submit]").removeAttr("disabled");
            }
        });

        $(document).on("click", "input[type=submit]", function (e) {
            if (confirm("Are you sure, you want to update selected division?")) {
                $("form").submit();
            }
        });
    });
</script>