@model SMS.Models.EventModel
<div class="panel-group">
	@if (Model.Id > 0)
	{
		<div class="panel panel-default">
			<div class="panel-body">
				<table id="eventpictures-grid"></table>
				<script type="text/javascript">
					$('#eventpictures-grid').DataTable({
						"processing": true, // for show progress bar
						"serverSide": true, // for process server side
						"filter": true, // this is for disable filter (search box)
						"orderMulti": false, // for disable multiple column at once
						"pageLength": 25,

						"ajax": {
							"url": "/Event/LoadGrid",
							"type": "POST",
							"datatype": "json"
						},

						"columnDefs":
						[{
							"targets": [0],
							"visible": false,
							"searchable": false
						},
						{
							"targets": [7],
							"searchable": false,
							"orderable": false
						},
						{
							"targets": [8],
							"searchable": false,
							"orderable": false
						},
						{
							"targets": [9],
							"searchable": false,
							"orderable": false
						}],

						"columns": [
							{ "data": "CustomerID", "name": "CustomerID", "autoWidth": true },
							{ "data": "CompanyName", "name": "CompanyName", "autoWidth": true },
							{ "data": "ContactName", "title": "ContactName", "name": "ContactName", "autoWidth": true },
							{ "data": "ContactTitle", "name": "ContactTitle", "autoWidth": true },
							{ "data": "City", "name": "City", "autoWidth": true },
							{ "data": "PostalCode", "name": "PostalCode", "autoWidth": true },
							{ "data": "Country", "name": "Country", "autoWidth": true },
							{ "data": "Phone", "name": "Phone", "title": "Status", "autoWidth": true },
							{
								"render": function (data, type, full, meta)
								{ return '<a class="btn btn-info" href="/Demo/Edit/' + full.CustomerID + '">Edit</a>'; }
							},
							{
								data: null, render: function (data, type, row) {
									return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
								}
							}
						]
					});
				</script>
				<div id="pager"></div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<script type="text/javascript">
					$(document).ready(function() {
						$('#addEventPicture').click(function () {
							var pictureId = $("#@Html.IdFor(model => model.InsertPictureModel.PictureId)").val();
							var displayOrder = $("#@Html.IdFor(model => model.InsertPictureModel.DisplayOrder)").val();
							var isDefault = $("#InsertPictureModel.IsDefault").val();
							var startDate = $("#@Html.IdFor(model => model.InsertPictureModel.PicStartDate)").val();
							var endDate = $("#@Html.IdFor(model => model.InsertPictureModel.PicEndDate)").val();

							if (pictureId == 0) {
								alert('Upload picture first');
								return;
							}

							$('#addEventPicture').attr('disabled', true);

							var postData = {
								pictureId: pictureId,
								displayOrder: displayOrder,
								isDefault: false,
								eventId: @Model.Id,
								startDate: startDate,
								endDate: endDate
							};

							addAntiForgeryToken(postData);

							$.ajax({
								cache: false,
								type: "POST",
								url: "@(Url.Action("EventPictureAdd", "Event"))",
								data: postData,
								success: function(data) {
									$('#addEventPicture').attr('disabled', false);
									$('#eventpictures-grid').trigger('reloadGrid');
								},
								error: function (xhr, ajaxOptions, thrownError) {
									console.log(xhr.responseText);
									alert('Failed to add event picture.');
									$('#addEventPicture').attr('disabled', false);
								}
							});
						});
					});
				</script>
				<div class="row text-left">
					<div class="col-md-6 mb-4">
						<div class="md-form">
							@Html.EditorFor(model => model.InsertPictureModel.PictureId)
							@Html.ValidationMessageFor(model => model.InsertPictureModel.PictureId)
						</div>
					</div>
				</div>

				<div class="row text-left">
					<div class="col-md-6 mb-4">
						<div class="md-form">
							<i class="fa fa-calendar prefix"></i>
							@Html.EditorFor(model => model.InsertPictureModel.PicStartDate)
							@Html.LabelFor(model => model.InsertPictureModel.PicStartDate, "Start Date", htmlAttributes: new { @class = "control-label" })
							@Html.ValidationMessageFor(model => model.InsertPictureModel.PicStartDate)
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-md-6 mb-4">
						<div class="md-form">
							<i class="fa fa-calendar prefix"></i>
							@Html.EditorFor(model => model.InsertPictureModel.PicEndDate)
							@Html.LabelFor(model => model.InsertPictureModel.PicEndDate, "End Date", htmlAttributes: new { @class = "control-label" })
							@Html.ValidationMessageFor(model => model.InsertPictureModel.PicEndDate)
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-md-6 mb-4">
						<div class="md-form">
							<i class="fa fa-list-ol prefix"></i>
							@Html.TextBoxFor(model => model.InsertPictureModel.DisplayOrder, htmlAttributes: new { @type = "number", @class = "form-control", @maxlength = "3", @Value = Model.InsertPictureModel.DisplayOrder > 0 ? Model.InsertPictureModel.DisplayOrder.ToString() : "" })
							@Html.LabelFor(model => model.InsertPictureModel.DisplayOrder, "Display Order", htmlAttributes: new { @class = "control-label" })
							@Html.ValidationMessageFor(model => model.InsertPictureModel.DisplayOrder)
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-md-6">
						<div class="md-form">
							<button type="button" id="addEventPicture" class="btn btn-primary"><i class="fa fa-plus-circle"></i> ADD</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="alert alert-info" role="alert">
					<strong>Heads up!</strong> Please save event first to upload picture.
				</div>
			</div>
		</div>
	}
</div>
