@model IEnumerable<SMS.Models.AssessmentQuestionModel>
@using EF.Services;
@using System.Web.Optimization;
@{
    ViewBag.Title = "Assign Questions To Assessment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 mr-4">
        <section class="edit-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div id="admin-page-header" class="col-xs-12 col-md-12">
                        <h3 class="section-heading mr-auto">ASSIGN QUESTIONS TO ASSESSMENT</h3>
                        <a class="btn btn-info mr-auto" href="/Admin/Question/Create">CREATE QUESTION</a>
                        &nbsp;&nbsp;
                        @Html.ActionLink("CREATE ASSESSMENT", "Create", "Assessment", new { @class = "btn btn-info mr-auto" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-3">
                        <div class="tab-content card">
                            <div class="tab-pane fade in show active" id="assign-question-assessment" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row text-left">
                                    <div class="col-md-12 mb-4">
                                        <div class="table-responsive text-nowrap">
                                            <table class="table table-striped custom-table dataTable">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            <div class="form-check">
                                                                <input type="checkbox" id="allcheck" class="table-check-input" value="allcheck" />
                                                                <label for="allcheck"></label>
                                                            </div>
                                                        </th>
                                                        <th class="text-center">Question</th>
                                                        <th class="text-center">Right Marks</th>
                                                        <th class="text-center">Negative Marks</th>
                                                        <th class="text-center">Solve Time</th>
                                                        <th class="text-center">Time Bound</th>
                                                        <th class="text-center">Display Order</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var count = 0; }
                                                    @foreach (var q in Model)
                                                    {
                                                        count += 1;
                                                        <tr>
                                                            @{var index = Model.ToList().IndexOf(q);}
                                                            <td>
                                                                <div class="form-check">
                                                                    <input type="checkbox" name="selectedids" class="table-check-input" id="@(q.QuestionId)">
                                                                    <label class="form-check-label" for="@(q.QuestionId)"></label>
                                                                </div>
                                                            </td>
                                                            <td><a tabindex="@(index.ToString())" target="_blank" href="/Admin/Question/Edit/@(q.QuestionId)">@(q.Question)</a></td>
                                                            @{index += 1;}
                                                            <td>
                                                                <input class="form-control text-box single-line" tabindex="@(index.ToString())" id="RightMarks_@(q.QuestionId)" name="RightMarks_@(q.QuestionId)" type="text" value="@(q.RightMarks)" />
                                                            </td>
                                                            @{index += 1;}
                                                            <td>
                                                                <input class="form-control text-box single-line" tabindex="@(index.ToString())" id="NegativeMarks_@(q.QuestionId)" name="NegativeMarks_@(q.QuestionId)" type="text" value="@(q.NegativeMarks)" />
                                                            </td>
                                                            @{index += 1;}
                                                            <td>
                                                                <input class="form-control text-box single-line" tabindex="@(index.ToString())" id="SolveTime_@(q.QuestionId)" name="SolveTime_@(q.QuestionId)" type="text" value="@(q.SolveTime)" />
                                                            </td>
                                                            @{index += 1;}
                                                            <td class="text-center">
                                                                <input type="checkbox" tabindex="@(index.ToString())" id="IsTimeBound_@(q.QuestionId)" name="IsTimeBound_@(q.QuestionId)" value="@(q.IsTimeBound ? q.QuestionId : 0)" @(q.IsTimeBound ? "checked=checked" : "") />
                                                                <label for="IsTimeBound_@(q.QuestionId)"></label>
                                                            </td>
                                                            @{index += 1;}
                                                            <td>
                                                                <input class="form-control text-box single-line" tabindex="@(index.ToString())" id="DisplayOrder_@(q.QuestionId)" name="DisplayOrder_@(q.QuestionId)" type="number" value="@(q.DisplayOrder)" />
                                                            </td>
                                                        </tr>
                                                                }
                                                </tbody>
                                                @if (Model.ToList().Count > 0)
                                                {
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="6" class="text-left">
                                                                <input class="btn btn-primary" type="submit" value="Submit" />
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                                                }
        </section>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li.nav-item").removeClass("active");
        $("span.nav-title:contains('Assessments')").closest("li").addClass("active");

        $('#allcheck').on('click', function () {
            $('input[type="checkbox"][class=table-check-input]').prop('checked', this.checked);
        });
        $('.custom-table tbody').on('change', 'input[type="checkbox"][class=table-check-input]', function () {
            var allchecked = true;
            var options = $('.custom-table tbody input[type="checkbox"][class=table-check-input]');
            for (var a = 0; a < options.length; a++) {
                if (!$(options[a]).prop("checked")) {
                    allchecked = false;
                    break;
                }
            }

            if (allchecked)
                $('#allcheck').prop('checked', true);
            else
                $('#allcheck').prop('checked', false);
        });

        $("input[name=selectedids]").change(function () {
            if ($(this).prop('checked')) {
                $(this).attr('checked', true).val(true);
            }
            else {
                $(this).attr('checked', false).val(false);
            }
        });
    });
</script>
