@model SMS.Areas.Admin.Models.ChangePasswordModel
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id, new { @class = "hdnUserId", @id = "hdnUserId" })
	<div class="modal fade" id="changepasswordmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-notify modal-success" role="document">
			<!--Content-->
			<div class="modal-content">
				<!--Header-->
				<div class="modal-header">
					<p class="heading lead">CHANGE PASSWORD</p>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="white-text">×</span>
					</button>
				</div>

				<!--Body-->
				<div class="modal-body">
					<div class="row text-left">
						<div class="col-md-12 mb-4">
							<div class="md-form">
								<i class="fa fa-key prefix"></i>
								@Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @tabindex = "1", @maxlength = "100", @title = "Current Password", @type = "password" })
								@Html.LabelFor(m => m.OldPassword, "Current Password", htmlAttributes: new { @class = "control-label" })
								@Html.ValidationMessageFor(m => m.OldPassword, "", htmlAttributes: new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="row text-left">
						<div class="col-md-12 mb-4">
							<div class="md-form">
								<i class="fa fa-key prefix"></i>
								@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @tabindex = "2", @maxlength = "100", @title = "New Password", @type = "password" })
								@Html.LabelFor(m => m.Password, "New Password", htmlAttributes: new { @class = "control-label" })
								@Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="row text-left">
						<div class="col-md-12 mb-4">
							<div class="md-form">
								<i class="fa fa-key prefix"></i>
								@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @tabindex = "3", @maxlength = "100", @title = "Confirm Password", @type = "password" })
								@Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", htmlAttributes: new { @class = "control-label" })
								@Html.ValidationMessageFor(m => m.ConfirmPassword, "", htmlAttributes: new { @class = "text-danger" })
							</div>
						</div>
					</div>
				</div>

				<!--Footer-->
				<div class="modal-footer justify-content-center">
					<button type="submit" disabled="disabled" class="btn btn-success waves-effect waves-light">Save Password</button>
					<a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
		<!--/.Content-->
	</div>

	<script type="text/javascript">
	$(document).ready(function () {
		$(document).on("click", "#change-password", function () {
			if ($(".hdnUserId").val() != null && $(".hdnUserId").val() != "") {
				$("#password_modal").show();
			}
		});

		$(document).on("change", "#OldPassword", function () {
			ValidateFields();
		});

		$(document).on("change", "#Password", function () {
			ValidateFields();
		});

		$(document).on("change", "#ConfirmPassword", function () {
			ValidateFields();
		});
	});

		function ValidateFields() {
		var flag = true;
			if ($("#@Html.IdFor(model => model.OldPassword)").val() == null || $("#@Html.IdFor(model => model.OldPassword)").val() == "") {
				flag = false;
			}
			if ($("#@Html.IdFor(model => model.Password)").val() == null || $("#@Html.IdFor(model => model.Password)").val() == "") {
				flag = false;
			}
		if ($("#@Html.IdFor(model => model.ConfirmPassword)").val() == null || $("#@Html.IdFor(model => model.ConfirmPassword)").val() == "") {
				flag = false;
			}
		else {
			if ($("#@Html.IdFor(model => model.Password)").val() != null && $("#@Html.IdFor(model => model.Password)").val() != "") {
				if ($("#@Html.IdFor(model => model.Password)").val().trim().toLowerCase() != $("#@Html.IdFor(model => model.ConfirmPassword)").val().trim().toLowerCase()) {
					flag = false;
				}
			}
		}

		if (flag) {
			$("#password_modal_save").attr('disabled', false);
		}
	}
	</script>
}
