@model SMS.Models.CommentsModel
@{
    var random = EF.Services.CodeHelper.GenerateRandomInteger();
}
<script type="text/javascript" src="~/Scripts/public.comment.js"></script>
<h3>Write your reply</h3>
<br />
@using (Html.BeginForm("PostReply", "Reply", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal reply-post-form" }))
{
    if (!String.IsNullOrEmpty(Model.Username))
    {
        @Html.HiddenFor(model => model.Username)
    }
    else
    {
        @Html.HiddenFor(model => model.Username, new { @value = random })
    }
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.postReplyModel.Type)
    @Html.HiddenFor(model => model.CommentId)
    @Html.EditorFor(model => model.postReplyModel.ReplyHtml, "ReplyEditor.cshtml")
    @Html.ValidationMessageFor(model => model.postReplyModel.ReplyHtml, "Please write reply.", new { @class = "field-validation-error" })
    <br />
    <div>
        <input type="submit" class="btn btn-info" value="Post" />
    </div>
}