@model IList<SMS.Models.Widgets.TeacherWidgetModel>
@using EF.Services.Http;
@{
    var urlHelperService = EF.Core.ContextHelper.Current.Resolve<IUrlHelper>();
    var basePath = urlHelperService.GetLocation(false);
}
<div class="section-row teacher-row">
    <div class="row">
        <div class="col-md-12 mt-2 mb-2 text-center">
            <h6><i class="fa fa-star-o"></i>WE ARE BEST<i class="fa fa-star-o"></i></h6>
            <h1>MEET OUR TEACHERS</h1>
            <p>Topclass talent around india</p>
        </div>
    </div>
    <div class="row">
        @foreach (var teacher in Model)
        {
            <div class="col-lg-3 col-md-12 mb-3">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade overlay">
                        <div class="imgCap-top">
                            <img style="max-height:300px;max-width:200px;" class="card-img-top mx-auto d-block imgCap-image" src="@teacher.ProfilePicture" alt="@(teacher.Name)">
                        </div>
                        <a href="@Url.RouteUrl("Teacher", new { name = teacher.SystemName })">
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <!-- Title -->
                        <h4 class="card-title">
                            <strong class="px-2">
                                @(teacher.Name)
                            </strong>
                        </h4>
                        <!-- Subtitle -->
                        <h5 class="blue-text pb-2"><i class="fa fa-heartbeat"></i>&nbsp;&nbsp;<strong>@String.Join(",", @teacher.Subjects.Select(s => ("(" + s.Code + ")" + s.Name)).ToList())</strong></h5>
                        <!-- Text -->
                        <p class="card-text">
                            @(!string.IsNullOrEmpty(teacher.Description) ? teacher.Description.Length > 200 ? teacher.Description.Substring(0, 200) : teacher.Description : teacher.Name)
                        </p>
                        <!-- Linkedin -->
                        <a href="@(teacher.LinkedInLink)" class="px-2"><i class="fa fa-2x fa-linkedin"></i></a>
                        <!-- Twitter -->
                        <a href="@(teacher.TweeterLink)" class="px-2"><i class="fa fa-2x fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a href="@(teacher.FacebookLink)" class="px-2"><i class="fa fa-2x fa-facebook-f"></i></a>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-unique waves-effect waves-light" href="@Url.RouteUrl("Teacher", new { name = teacher.SystemName })"><i class="fa fa-paper-plane"></i> KNOW MORE</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
