@model IList<SMS.Models.Widgets.NewsWidgetModel>
@using EF.Services.Http;
@{
    var urlHelperService = EF.Core.ContextHelper.Current.Resolve<IUrlHelper>();
    var basePath = urlHelperService.GetLocation(false);
}
<div class="section-row news-row">
    <div class="row text-center">
        <div class="col section-row-header-center">
            <h6><i class="fa fa-star-o"></i>WE ARE BEST<i class="fa fa-star-o"></i></h6>
            <h1>LATEST NEWS</h1>
            <p>Latest school news board</p>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        @foreach (var news in Model)
        {
            <div class="col-md-3 mb-2">
                <div class="card default-color-dark">
                    <div class="view">
                        <img style="max-height:250px;min-height:250px;" src="@(news.DefaultPictureSrc)" class="card-img-top" alt="@(news.ShortName)">
                        <a title="@(news.ShortName)" href="@Url.RouteUrl("News", new { name = news.SystemName })">
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <div style="max-height:250px;min-height:250px;" class="card-body text-center">
                        <a title="@(news.ShortName)" href="@Url.RouteUrl("News", new { name = news.SystemName })">
                            <h4 class="card-title white-text">@(news.ShortName)</h4>
                        </a>
                        @{ var description = (!string.IsNullOrEmpty(news.Description) ? news.Description.Length > 200 ? ("<p class='card-text white-text'>" + news.Description.Substring(0, 200) + "...</p>") : ("<p class='card-text white-text'>" + news.Description + "</p>") : ("<p class='card-text white-text'>" + (news.ShortName) + "</p>")); }
                        @Html.Raw(description)
                    </div>
                </div>
            </div>
                            }
    </div>
</div>
